.product {
  height: 350px;
  text-align: center;
}

.product .title {
  height: 62px;
}

.product .image {
  height: 200px;
}

.product img {
  display: block;
  margin: 20px auto 0px;
  width: 100px;
}

.product .add {
  margin-top: -6px;
}
