<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="row">
    <div class='col-xs-8'>
      <div class='col-md-4 col-sm-6 col-xs-12' ng-repeat="product in main.ProductService.products">
        <div class="product panel panel-default" >
          <div class="panel-body">
            <h4 class='title'>
              <a ng-href="{{::product.url}}" target="_blank">{{::product.title}}</a>
            </h4>
            <div class='image'>
              <img ng-src="{{ ::product.logo }}" alt="{{ ::product.title }}">
            </div>
            <button
              ng-click='main.CartService.add(product)'
              class="add btn btn-default">
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-4'>
        <div class="cart panel panel-default" >
          <div class="panel-body">
            <h4>Cart</h4>
            <ul>
              <li ng-repeat='product in main.CartService.cart.products'>
                {{product.quantity}} - {{product.title}} - <a ng-click='main.CartService.remove(product)' ng-href="#">Remove</a>
              </li>
            </ul>
            <img class="pull-right" ng-src="{{ ::product.logo }}" alt="{{ ::product.title }}">
          </div>
        </div>
    </div>
  </div>
</div>
